.page {
    background-color: #161819; 
    color: white;              
    font-family: 'Lora';         
    padding: 120px 0;            
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
  }
  
  .content__container {
    width: 40%;
    margin: auto;
  }
  
  .content__title {
    font-family: 'Playfair Display';
  }
  
  .content__title_item_main {
    color: #ff6666;
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 60px;
  }
  
  .content__title_item_sub {
    color: #ff6666;
    font-size: 55px;
    line-height: 70px;
    margin: 120px 0 60px;
    width: 50%;
  }
  
  .content__title_item_method {
    font-size: 40px;
    line-height: 50px;
    margin: 60px 0 20px;
  }
  
  .content__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
  }

  .content__quote {
    font-family: 'Lora';
    font-size: 34px;
    line-height: 42px;
    padding: 40px;
    margin-bottom: 60px;
    border-top: 2px solid #ff6666;
    border-bottom: 2px solid #ff6666;
    position: relative;
    top: 5px;
    left: 60px;
  }
  
  .content__quote-origin {
    display: block;
    color: #a6a6a6;
    text-align: right;
    font-size: 22px;
    margin-top: 52px;
    margin-right: -40px;
  }
  
  .menu__item {
    position: fixed;
    z-index: 1;
  }
  
  .menu__item_theme_landscape {
    top: 40px;
    left: 40px;
  }
  
  .menu__item_theme_portrait {
  top:40px;
  right:40px;
  }
  
  .menu__item_theme_viewpoint {
  bottom: 40px;
  left: 40px;
  }
  
  .menu__item_theme_expression {
  bottom: 40px;
  right: 40px;
  }
  
  .menu__link {
    color: #a6a6a6;
    font-size: 16px;
    text-decoration: none;
    font-family: 'PTMono';
    text-transform: uppercase;
  }
  
  .menu__link:hover {
     color: #ff6666; 
  }
  
  .menu__picture {
    display: none;
    width: 300px;
    position: absolute;
  }
  
  .menu__picture_theme_landscape {
  top: 40px;
  left: 40px;
  }
  
  .menu__picture_theme_portrait {
  top: 40px;
  right: 40px;
  }
  
  .menu__picture_theme_viewpoint {
  bottom: 40px;
  left: 40px;
  }
  
  .menu__picture_theme_expression {
  bottom: 40px;
  right: 40px;
  }

  .menu__item:hover .menu__picture {
      display: block;
  }
  
  .content__image {
    margin: 60px 0;
    position: relative;
  }
  
  .content__image-item {
    width: 100%;
  }
  
  .content__image-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .content__image-cover:hover {
    opacity: 1;
  }
  
  .content__image-name {
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .content__item_type_copyright {
    margin-top: 40px;
    font-size: 22px;
    line-height: 30px;
    color: #a6a6a6;
  }
  
  .content__text_type_copyright {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
  